<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=tasklistdb;Persist Security Info=True;User ID=sa;Password=P@ssw0rd0" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>